{% extends "base.html" %}
{% load static %}

{% block page_content %}

<h1 id="page-title">PROJECTS</h1>
<div class="row">
  {% for project in projects %}
      <div class="col-md-4">
          <div class="card mb-2 project-card">
              <img class="card-img-top" src="/{{ project.image.url }}">
              <div class="card-body">
                  <h5 class="card-title">{{ project.title }}</h5>
                  <p class="card-text">{{ project.description }}</p>
                  <a href="{% url 'project_detail' project.pk %}"
                     class="btn btn-primary">
                      <span>View</span>
                  </a>
              </div>
          </div>
      </div>
  {% endfor %}
</div>

<style media="screen">
  #page-title {
    margin: 50px 50px 50px 0px;
    font-size: 1.8em;
  }

  .card-body {
    background: #222;
  }

  .card-title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  .card-text {
    color: #fff;
    font-weight: lighter;
  }

  .btn-primary {
    display: inline-block;
    border-radius: 4px;
    background-color: #2976f5;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    transition: all 0.5s;
    width: 90px;
    cursor: pointer;

    vertical-align: middle;
  }

  .btn-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn-primary span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition:0.3s;
    color: #fff;
  }

  .btn-primary:hover span {
    padding-right: 25px;
    color: #fff;
  }

  .btn-primary:hover span:after {
    opacity: 1;
    right: 0;
  }

</style>

{% endblock %}
